In [3]:
import pandas as pd
import pandas_datareader as pdr # IF NECESSARY, from terminal: pip install pandas_datareader 
import datetime
import datadotworld as dw # follow instructions for installing and using dw in accompanying lecture
import numpy as np

### A side lesson: What on earth is **`lambda`**? 

Can you survive without learning `lambda`? Yes. 

But knowing `lambda` will make you a more powerful programmer, because it lets you define functions very quickly. And this is very useful! For example, the `agg` function can apply any function, not just built-in ones, and sometimes you'll want to use non built-in functions!

So, generally, the syntax is `<fcn_name> = lambda <argument> : <function>`.

In [7]:
my_fcn = lambda a : a*5 # if I call my_fcn(7), python will set a=7, then evalute the function a*5
print(my_fcn(7))

35

Now, in the example above inside `agg()` I never named the function. That's because it's unnecessary in that context, python knows to immediately call it.

### Maybe you say "I hate that and will never ever write a lambda. How can I accomplish the problem above anyways?"

Well, I'm sorry to hear that! Here is what you could do:

In [9]:
def return_first_element(df):
    return df.iloc[0]

(baby_names.sort_values(['year','sex','count'],ascending=False) # sort descending so most popular name first
     .groupby(['year','sex']) # group by year and gender 
     .agg(return_first_element) # keep the first (most popular) name each year
     ['name'] # keep only the name variable
     .unstack() # format wide
     [-20:]
)

sex          F      M
year
1999     Emily  Jacob
2000     Emily  Jacob
2001     Emily  Jacob
2002     Emily  Jacob
2003     Emily  Jacob
2004     Emily  Jacob
2005     Emily  Jacob
2006     Emily  Jacob
2007     Emily  Jacob
2008      Emma  Jacob
2009  Isabella  Jacob
2010  Isabella  Jacob
2011    Sophia  Jacob
2012    Sophia  Jacob
2013    Sophia   Noah
2014      Emma   Noah
2015      Emma   Noah
2016      Emma   Noah
2017      Emma   Liam
2018      Emma   Liam